*.sdf
*.suo
*.log

/msvscpp/UpgradeLog.XML

# IntelliSense data
/msvscpp/*.ncb

# Visual Studio user options
/msvscpp/*.suo
*.sln.cache
/msvscpp/*.opensdf
/msvscpp/libvhdi.VC.db

/msvscpp/ipch/*
/msvscpp/libbfio/Debug/*
/msvscpp/libbfio/Release/*
/msvscpp/libbfio/VSDebug/*

/msvscpp/libcdata/Debug/*
/msvscpp/libcdata/Release/*
/msvscpp/libcdata/VSDebug/*

/msvscpp/libcerror/Debug/*
/msvscpp/libcerror/Release/*
/msvscpp/libcerror/VSDebug/*

/msvscpp/libcfile/Debug/*
/msvscpp/libcfile/Release/*
/msvscpp/libcfile/VSDebug/*

/msvscpp/libclocale/Debug/*
/msvscpp/libclocale/Release/*
/msvscpp/libclocale/VSDebug/*

/msvscpp/libcnotify/Debug/*
/msvscpp/libcnotify/Release/*
/msvscpp/libcnotify/VSDebug/*

/msvscpp/libcpath/Debug/*
/msvscpp/libcpath/Release/*
/msvscpp/libcpath/VSDebug/*

/msvscpp/libcsplit/Debug/*
/msvscpp/libcsplit/Release/*
/msvscpp/libcsplit/VSDebug/*

/msvscpp/libcstring/Debug/*
/msvscpp/libcstring/Release/*
/msvscpp/libcstring/VSDebug/*

/msvscpp/libcsystem/Debug/*
/msvscpp/libcsystem/Release/*
/msvscpp/libcsystem/VSDebug/*

/msvscpp/libcthreads/Debug/*
/msvscpp/libcthreads/Release/*
/msvscpp/libcthreads/VSDebug/*

/msvscpp/libfdata/Debug/*
/msvscpp/libfdata/Release/*
/msvscpp/libfdata/VSDebug/*

/msvscpp/libfcache/Debug/*
/msvscpp/libfcache/Release/*
/msvscpp/libfcache/VSDebug/*

/msvscpp/libfguid/Debug/*
/msvscpp/libfguid/Release/*
/msvscpp/libfguid/VSDebug/*

/msvscpp/libuna/Debug/*
/msvscpp/libuna/Release/*
/msvscpp/libuna/VSDebug/*

/msvscpp/libvhdi/Debug/*
/msvscpp/libvhdi/Release/*
/msvscpp/libvhdi/VSDebug/*

/msvscpp/pyvhdi/Debug/*
/msvscpp/pyvhdi/Release/*
/msvscpp/pyvhdi/VSDebug/*

/msvscpp/vhdi_test_open_close/Debug/*
/msvscpp/vhdi_test_open_close/Release/*
/msvscpp/vhdi_test_open_close/VSDebug/*

/msvscpp/vhdi_test_read/Debug/*
/msvscpp/vhdi_test_read/Release/*
/msvscpp/vhdi_test_read/VSDebug/*

/msvscpp/vhdi_test_seek/Debug/*
/msvscpp/vhdi_test_seek/Release/*
/msvscpp/vhdi_test_seek/VSDebug/*

/msvscpp/vhdiinfo/Debug/*
/msvscpp/vhdiinfo/Release/*
/msvscpp/vhdiinfo/VSDebug/*

/msvscpp/vhdimount/Debug/*
/msvscpp/vhdimount/Release/*
/msvscpp/vhdimount/VSDebug/*


/msvscpp/Release/*
/msvscpp/VSDebug/*
/msvscpp/x64/*
